.wrapper {
  &_content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.full {
    position: relative;
    width: 100%;
    height: 100%;
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
