.wrapper {
  &_content {
    // position: absolute;
    width: 100%;
    // height: 100%;
    // top: 0;
    // left: 0;
    background-color: #5b5b5b;
    img {
      width: 100% !important;
    }
  }

  &.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &.full {
    position: relative;
    width: 100%;
    height: 100%;
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pdfPreview {
    canvas {
      width: 100% !important;
      height: auto !important;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
    :global(.react-pdf__Page__textContent) {
      display: none !important;
    }
    :global(.react-pdf__Page__annotations) {
      display: none !important;
    }
  }
}
